{{#each this}}

<div class="country-card">
    <div class="country-result">
        <h2 class="country-name">{{name}}</h2>
    <ul>        
        <li> <b>Capital:</b>  {{capital}}</li>
        <li> <b>Population:</b>  {{population}}</li>
        <li> <b>Languages:</b> 
            <ul>
                {{#each languages}}
                <li>{{name}}</li>
                {{/each}}
            </ul>
        </li>
    </ul></div>
    <div>
        <img class="country-flag" src="{{flag}}" alt="{{name}} flag">
    </div>
</div>
{{/each}}